<!-- <div  class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th> <th>UserId</th><th>Title</th><th>Body</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of posts">
                <td>{{p.id}}</td>
                <td>{{p.userId}}</td>
                <td>{{p.title}}</td>
                <td>{{p.body}}</td>
            </tr>
        </tbody>
    </table>
</div> -->

<div *ngIf="loading" class="spinner">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading">
    <mat-card *ngFor="let p of posts" class="user-card">
        <mat-card-title>{{p.title}}</mat-card-title>
        <mat-card-content>
            <p><strong>UserId:</strong>{{p.userId}}</p>
            <p><strong>Id:</strong>{{p.id}}</p>
            <p><strong>Body:</strong>{{p.body}}</p>
        </mat-card-content>
    </mat-card>
</div>